<!-- start of background -->
<div class="hero-wrap hero-bread" style="background-image: url('assets/images/bg_6.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="/home">Home</a></span> <span>Cart</span></p>
                <h1 class="mb-0 bread">My Wishlist</h1>
            </div>
        </div>
    </div>
</div>
<!-- end of background  -->

<!-- start of cart -->
<section class="ftco-section ftco-cart">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center" *ngFor=" let item of cartList">
                                <td class="product-remove"><a href="javascript:void(0)" (click)="deleteProduct(item.id)"><span class="ion-ios-close"></span></a></td>
                                <td class="image-prod">
                                    <div class="img" [style.background-image]="'url(' + item.image + ')'"></div>
                                </td>
                                <td class="product-name">
                                    <h3>{{item.name}}</h3>
                                    <p>Far far away, behind the word mountains, far from the countries</p>
                                </td>
                                <td class="price">{{item.price}}</td>
                                <td class="quantity">
                                    <div class="input-group mb-3">
                                        <input type="text" name="quantity" #todo
                                            class="quantity form-control input-number" [value]="item.quantity" min="1"
                                            max="100" (change)="changeQuantity(item, $event) ">
                                    </div>
                                </td>
                                <td class="total">{{item.price * item.quantity}} $</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end of cart -->