<table mat-table [dataSource]="dataSource">
  <ng-container [matColumnDef]="column.columnDef" *ngFor="let column of filteredColumn">
    <th mat-header-cell *matHeaderCellDef> {{ column.header }} </th>
    <td mat-cell *matCellDef="let element"> {{ column.cell(element) }} </td>
  </ng-container>
  <ng-container matColumnDef="checkBox">
    <th mat-header-cell *matHeaderCellDef> Checkbox </th>
    <td mat-cell *matCellDef="let row"> 
      <mat-checkbox [id]="row.id" class="example-margin" (change)="addItem($event, row)" [checked]="row.checked"></mat-checkbox>
     </td>
  </ng-container>
  <ng-container matColumnDef="addToCart">
    <th mat-header-cell *matHeaderCellDef> Add </th>
    <td mat-cell *matCellDef="let row"><button mat-raised-button color="primary" >Add</button></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

<button mat-raised-button (click)="addToCart()">Add</button>


